﻿@*@model EpicWareWeb.Models.LoginModel*@
@{
    EpicWareWeb.Models.LoginModel m = new EpicWareWeb.Models.LoginModel();
}



﻿@if (Request.IsAuthenticated)
{
    //EpicWareWeb.Controllers.UserController ctruser = new EpicWareWeb.Controllers.UserController();
    //EpicWareWeb.Models.User user = new EpicWareWeb.Models.User();
    //user = ctruser.UserAutenticated();
    <div class="navbar navbar-fixed-top">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <span style="padding-top:inherit">
                    <a href="@Url.Action("Index", "Home")"><img src="~/Images/EpicWare%20Logos/EpicWare.png" width="180" height="30" /></a>
                </span>
                
                @*<form class="form-search">
                    <div class="input-append">
                        <input type="text" class="span2 search-query">
                        <button type="submit" class="btn">Search</button>
                    </div>
                </form>*@

                @*<img src="@user.userProfile.pathImg" class="img-rounded" width="50" height="50"> <a href="~/User/Profile/@user.userID">@user.userProfile.name @user.userProfile.lastName</a>*@

                </div><!-- /navbar-inner -->
            </div><!-- /navbar -->
        </div>
    </div>
}
else
{
    <div class="navbar navbar-fixed-top">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-left">
                    @Html.Partial("_LanguagePartial")
                </div>
                <span style="padding-top:inherit">
                    <a href="@Url.Action("Index", "Home")"><img src="~/Images/EpicWare%20Logos/EpicWare.png" width="180" height="30" /></a>
                </span>
                
           

            @using (Html.BeginForm("loginForBar", "Account"))
            {
               
                @Html.TextBoxFor(Model => m.UserName, new { @Id = "user", @Value = "username", @class = "col-lg-2", @onfocus = "document.getElementById('user').value =''" }) 
                @Html.ValidationMessageFor(Model => m.UserName)
                @Html.TextBoxFor(Model => m.Password, new { @Id = "pass", @Value = "password", @class = "col-lg-2", @onfocus = "document.getElementById('pass').value =''" }) 
                @Html.ValidationMessageFor(Model => m.Password)
                @Html.CheckBoxFor(Model => m.RememberMe)
                @Html.LabelFor(Model => m.RememberMe, new { @class = "checkbox" })
            }
                    
               
                </div><!-- /navbar-inner -->
            </div><!-- /navbar -->
        </div>
    </div>

}
