﻿@*@model EpicWareWeb.Models.LoginModel*@
@{
    EpicWareWeb.Models.LoginModel m = new EpicWareWeb.Models.LoginModel();
}

@{EpicWareWeb.Models.User util = new EpicWareWeb.Models.User();
EpicWareWeb.Controllers.UserController teste = new EpicWareWeb.Controllers.UserController();
util = teste.UserAutenticated();
}

@if (Request.IsAuthenticated)
{
    <div class="navbar navbar-fixed-top">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <table width="1000">
                    <tr>
                        <td align="left"><span style="padding-top:inherit"><a class="noStyle" href="/LAPR5"> <img src="~/Images/EpicWare%20Logos/EpicWare.png" width="180" height="30" /></a>
                            </span>
                        </td>
                        <td>
                            @using (@Html.BeginForm("Search","Home"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @*@Html.TextBox("pesquisa")<a id="aPesquisa" href="@Url.Action("Search", "Home")"><span id="lupa">&nbsp;&nbsp;&nbsp;<img src="~/Images/Buttons/lupa.png" width="22" height="22" /></span></a>*@
                                @Html.TextBox("pesquisa", EpicWareWeb.Views.User.User.txtBxPesquisa, new { onclick = "document.getElementById(\"pesquisa\").value= \"\";" }) <button id="btLupa" type="submit"><img src="/LAPR5/Images/Buttons/lupa.png" width="22" height="22" /></button> 
                            }   
</td>
                        <td style="color:white; text-align:right;">
                              <div id="notifications"></div>
                        </td>
                        <td align="right">
                            @using (Html.BeginForm("Profile", "User", FormMethod.Get))
                            {
                            <button class="btn"><img src=@util.userProfile.pathImg width="25" height="25" /> @util.userProfile.name @util.userProfile.lastName</button>
                            }
                    </td>
                        <td align="right" width="100">
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-info" type="submit">@EpicWareWeb.Views.Shared.Shared.logout</button>
                            }
                        </td>
                    </tr>
                </table>
                
                
                @*<form class="form-search">
                    <div class="input-append">
                        <input type="text" class="span2 search-query">
                        <button type="submit" class="btn">Search</button>
                    </div>
                </form>*@

                @*<img src="@user.userProfile.pathImg" class="img-rounded" width="50" height="50"> <a href="~/User/Profile/@user.userID">@user.userProfile.name @user.userProfile.lastName</a>*@

                </div><!-- /navbar-inner -->
            </div><!-- /navbar -->
        </div>
    </div>
<script type="text/javascript">
    function loadPartialView() {
        //alert("Reload");
        $.ajax({
            url: "@Url.Action("Notifications", "User")",
            type: 'GET', // <-- make a async request by GET
        dataType: 'html', // <-- to expect an html response
        success: function(result) {
            $('#notifications').html(result);
        }
    });
    }

    $(function() {
       loadPartialView();
       setInterval("loadPartialView()", 5000);
        
        

    });
</script>
}
else
{
    <div class="navbar navbar-fixed-top">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
     <table width="1000">
         <tr>
             <td align="left">
                 <div class="navbar-left">
                     @Html.Partial("_LanguagePartial")
                 </div>
             </td>

             <td>
                 <span style="padding-top:inherit">
                     <a href="@Url.Action("Index", "Home")"><img src="~/Images/EpicWare%20Logos/EpicWare.png" width="180" height="30" /></a>
                 </span>
             </td>
             <td align="right">
                     @using (Html.BeginForm("loginForBar", "Account"))
                     {
                         <table style="padding:0px; border:none" width="415">
                             <tr>
                                 <td width="200">
                                    @Html.TextBoxFor(Model => m.UserName, new { @Id = "user", @Value = EpicWareWeb.Views.Shared.Shared.username, @class = "col-lg-6", @onfocus = "document.getElementById('user').value =''"})
                                    @Html.ValidationMessageFor(Model => m.UserName)
                                    @Html.PasswordFor(Model => m.Password, new { @Id = "pass", @Value = EpicWareWeb.Views.Shared.Shared.password, @class = "col-lg-6", @onfocus = "document.getElementById('pass').value =''"})
                                    @Html.ValidationMessageFor(Model => m.Password)
                                 </td>
                                 <td width="115">
                                     @Html.CheckBoxFor(Model => m.RememberMe)
                                     @Html.HiddenFor(Model => m.RememberMe)
                                     @Html.LabelFor(Model => m.RememberMe, new { @class = "checkbox" })
                                 </td>
                                 <td width="100">
                                     <button type="submit" class="btn btn-info">@EpicWareWeb.Views.Shared.Shared.login</button>
                                 </td>
                             </tr>
                         </table>
                         
                         
                         
                         
                     }
             </td>
         </tr>
     </table>
    
                
                
                
           

             
            
                    
               
                </div><!-- /navbar-inner -->
            </div><!-- /navbar -->
        </div>
    </div>

}

