@model EpicWareWeb.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <h1>@EpicWareWeb.Views.Shared.Shared.setPass</h1>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <button class="btn btn-info"  type="submit">@EpicWareWeb.Views.Shared.Shared.setPass</button>
    </fieldset>
}
