 @model EpicWareWeb.Models.FriendRequest

<table width="500" cellpadding="15" cellspacing="15">
    <tr>
        <td rowspan =2>
            <img src="@Model.user1.userProfile.pathImg" alt="No Image" width="50" height="50"/>
        </td>
        <td><span style="font-size:14px; color:white;"><b>@EpicWareWeb.Views.User.User.name:</b> @Model.user1.userProfile.name</span></td>
        <td><span style="font-size:14px; color:white;"><b>@EpicWareWeb.Views.User.User.lastname:</b> @Model.user1.userProfile.lastName</span></td>
        <td rowspan="2">
            @using (Html.BeginForm("AcceptFR", "User"))
            {
                @Html.HiddenFor(model => model.friendRequestID)
                <button type="submit" class="btn btn-success" style="width:100px">@EpicWareWeb.Views.User.User.accept</button>
            }
            @using (Html.BeginForm("RejectFR", "User"))
            {
                @Html.HiddenFor(model => model.friendRequestID)
                <button type="submit" class="btn btn-danger" style="width:100px">@EpicWareWeb.Views.User.User.reject</button>
            }
        </td>
    </tr>   
    <tr>    
        <td><span style="font-size:14px; color:white;"><b>@EpicWareWeb.Views.User.User.forca:</b> @Model.strenght</span></td>
        <td><span style="font-size:14px; color:white;"><b>@EpicWareWeb.Views.User.User.tagconn:</b> @Model.tagConnection.tag</span></td>
    </tr>
</table>