 @model EpicWareWeb.Models.FriendRequest

<table width="500">
    <tr>
        <td rowspan =3>
            <img src="@Model.user1.userProfile.pathImg" alt="No Image" />
        </td>
    </tr>
    <tr>
        <td>@EpicWareWeb.Views.User.User.name: @Model.user1.userProfile.name</td><td>@EpicWareWeb.Views.User.User.lastname: @Model.user1.userProfile.lastName</td>
    </tr>    
    <tr>    
        <td>@EpicWareWeb.Views.User.User.forca: @Model.strenght</td><td>@EpicWareWeb.Views.User.User.tagconn: @Model.tagConnection.tag</td>
    </tr>
    <tr><td></td>
        @using (Html.BeginForm("AcceptFR", "User"))
        {
            @Html.HiddenFor(model => model.friendRequestID)
            <td><button type="submit" class="btn btn-success">@EpicWareWeb.Views.User.User.accept</button></td>
        }
        @using (Html.BeginForm("RejectFR", "User"))
        {
            @Html.HiddenFor(model => model.friendRequestID)
            <td><button type="submit" class="btn btn-danger">@EpicWareWeb.Views.User.User.reject</button></td>
        }
    </tr>
</table>