@model EpicWareWeb.Models.IntroFriendRequest

<table width="500" cellpadding="15" cellspacing="15">
    <tr>
        <td rowspan=2>
            <img src="@Model.userA.userProfile.pathImg" alt="No Image" width="50" height="50" />
        </td>
        <td><span style="font-size:14px; color:white;"><b>@EpicWareWeb.Views.User.User.name:</b> @Model.userA.userProfile.name</span></td>
        <td><span style="font-size:14px; color:white;"><b>@EpicWareWeb.Views.User.User.lastname:</b> @Model.userA.userProfile.lastName</span></td>
        <td rowspan="2">
            @using (Html.BeginForm("AcceptIntroFR", "User"))
            {
                <button type="submit" class="btn btn-success">@EpicWareWeb.Views.User.User.accept</button>
            }
            @using (Html.BeginForm("RejectIntroFR", "User"))
            {
                <button type="submit" class="btn btn-warning">@EpicWareWeb.Views.User.User.reject</button>
            }
        </td>
    </tr>
    <tr>
        <td><span style="font-size:14px; color:white;"><b>@EpicWareWeb.Views.User.User.sugestedby:</b> @Model.userB.userProfile.nickname</span></td>
        <td><span style="font-size:14px; color:white;">@Model.sendedBC</span></td>
    </tr>
</table>