@model EpicWareWeb.Models.IntroFriendRequest

@{
    EpicWareWeb.Models.IntroFriendRequest intro = Model;       
    string rejectAJX = "intro_"+@intro.introFriendRequestID;
    string idDivTextArea = "txa" + @intro.introFriendRequestID;
}
<div id="@rejectAJX">
    <table width="500" style="color:white;">
        <tr>
            <td>@EpicWareWeb.Views.User.User.origem: </td>
            <td>@intro.userA.userProfile.nickname</td>
        </tr>
        <tr>
            <td>@EpicWareWeb.Views.User.User.destino: </td><td>@intro.userC.userProfile.nickname</td>
        </tr>
        <tr>
            <td rowspan="3" colspan="2">@intro.messageAB</td>
        </tr>
        <tr>
            <td>
                @if (intro.sendedBC)
                {
                    <span style="color:orange;">@EpicWareWeb.Views.User.User.introEnviada</span>
                }
                else
                {
                    using (Ajax.BeginForm("ResponseMiddleIntroAjax", new { id = intro.introFriendRequestID }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = @idDivTextArea }))
                    {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <button type="submit" class="btn btn-success">@EpicWareWeb.Views.User.User.accept</button>
                    }
                }
            </td>
            <td>
                @if (intro.sendedBC)
                {

                }
                else
                {
                    using (Ajax.BeginForm("RejectMiddleIntroAjax", new { id = intro.introFriendRequestID }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = @rejectAJX })){
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <button type="submit" class="btn btn-warning">@EpicWareWeb.Views.User.User.reject</button>
                } 
                }
                
                
                
            </td>
            
        </tr>
    </table>
</div>
<div id="@idDivTextArea">

</div>