@model EpicWareWeb.Models.Notification
<tr style="color:white;">
    <td>@Model.message</td><td>@Model.time.Hour<span>:</span>@Model.time.Minute</td><td>@Model.read.ToString()</td><td>@Html.ActionLink(@EpicWareWeb.Views.User.User.ver,@Model.notificationType.resultLink)</td>
</tr>