@model EpicWareWeb.Models.User
<table style="color:white; font-size:14px;">
    <tr>
        
        <td width="500" align="left" style="padding-left:0px;">
            <div class="alert alert-info"><b>@EpicWareWeb.Views.User.User.nick:</b> @Model.userProfile.nickname</div>@*ScarePT</div>*@
        </td>
        @if (!(Model.mood == null)) {
        <td width="500" align="right" style="padding-right:0px;">
            <div class="alert alert-info"><b>@EpicWareWeb.Views.User.User.humor:</b>@Model.mood.name</div>@*Bombastico :D</div>*@
        </td>
        }
        else
        {
            <td width="500" align="right" style="padding-right:0px;">
            <div class="alert alert-info"><b>@EpicWareWeb.Views.User.User.humor:</b>@EpicWareWeb.Views.User.User.no_info</div>@*Bombastico :D</div>*@
        </td>
        }
    </tr>
    <tr>
        @if (!(Model.userProfile.gender == null)) {
            if (Model.userProfile.gender == "F")
            {
                <td width="500" align="left" style="padding-left:0px;">
                    <div class="alert alert-info"><b>@EpicWareWeb.Views.User.User.genero:</b> @EpicWareWeb.Views.User.User.feminino</div>@*Macho</div>*@
                </td>
            }
            if (Model.userProfile.gender == "M")
            {
                <td width="500" align="left" style="padding-left:0px;">
                    <div class="alert alert-info"><b>@EpicWareWeb.Views.User.User.genero:</b> @EpicWareWeb.Views.User.User.masculino</div>@*Macho</div>*@
                </td>
            }
        }
        else
        {
            <td width="500" align="left" style="padding-left:0px;">
                    <div class="alert alert-info"><b>@EpicWareWeb.Views.User.User.genero:</b> @EpicWareWeb.Views.User.User.no_info</div>@*Macho</div>*@
                </td>
        }
        @if (!(Model.userProfile.birthday == null)) { 
        <td width="500" align="right" style="padding-right:0px;">
            <div class="alert alert-info"><b>@EpicWareWeb.Views.User.User.aniversario:</b> @Model.userProfile.birthday.Day/@Model.userProfile.birthday.Month/@Model.userProfile.birthday.Year</div>@*20/07/1991</div>*@
        </td>
        }
        else
        {
           <td width="500" align="right" style="padding-right:0px;">
                <div class="alert alert-info"><b>@EpicWareWeb.Views.User.User.aniversario:</b> @EpicWareWeb.Views.User.User.no_info</div>@*20/07/1991</div>*@
           </td> 
        }
    </tr>
    <tr>
        @if (!(Model.userProfile.facebookProfile == null && Model.userProfile.linkedinProfile == null && Model.userProfile.twitterProfile == null))
        {
            <td width="500" align="left" style="padding-left:0px;">
                <div class="alert alert-info">
                    <b>@EpicWareWeb.Views.User.User.social:</b> 
                    @if (Model.userProfile.facebookProfile != null && Model.userProfile.facebookProfile != ""){<a href=@Model.userProfile.facebookProfile><img src="~/Images/Logos/glyphicons_social_30_facebook.png" /></a>}
                    @if (Model.userProfile.linkedinProfile != null && Model.userProfile.linkedinProfile != ""){<a href=@Model.userProfile.linkedinProfile><img src="~/Images/Logos/glyphicons_social_17_linked_in.png" /></a>}
                    @if (Model.userProfile.twitterProfile != null && Model.userProfile.twitterProfile != ""){<a href=@Model.userProfile.twitterProfile><img src="~/Images/Logos/glyphicons_social_31_twitter.png" /></a>}
                    
                </div>
            </td>
        }
        else
        {
            <td width="500" align="right" style="padding-right:0px;">
                <div class="alert alert-info"><b>@EpicWareWeb.Views.User.User.pais:</b> @EpicWareWeb.Views.User.User.no_info</div>@*Portugal</div>*@
            </td>
        }
        @if (!(Model.userProfile.country == null)) {
        <td width="500" align="right" style="padding-right:0px;">
            <div class="alert alert-info"><b>@EpicWareWeb.Views.User.User.pais:</b> @Model.userProfile.country.name</div>@*Portugal</div>*@
        </td>
        }
        else
        {
            <td width="500" align="right" style="padding-right:0px;">
                <div class="alert alert-info"><b>@EpicWareWeb.Views.User.User.pais:</b> @EpicWareWeb.Views.User.User.no_info</div>@*Portugal</div>*@
            </td>
        }
    </tr>
</table> 