@{
    EpicWareWeb.Controllers.ConnectionController ctrConn = new EpicWareWeb.Controllers.ConnectionController();
    EpicWareWeb.Models.User userProf = Model;
    
}

@if (ctrConn.amI(userProf))
{// profile é do proprio user
 <tr>
    <td>
        @using (Html.BeginForm("Edit", "User",FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <button type="submit" class="btn btn-sm btn-primary" style="width:200px;"><span style="font-size:14px">@EpicWareWeb.Views.User.User.edit_perfil</span></button>
        }
    </td>
     <td>
         @using (Html.BeginForm("Manage", "Account", FormMethod.Get))
         {
             @Html.AntiForgeryToken()
             @Html.ValidationSummary(true)
             <button type="submit" class="btn btn-sm btn-primary" style="width:200px;"><span style="font-size:14px">@EpicWareWeb.Views.User.User.changePass</span></button>
         }
     </td>
</tr>
}
//caso 2: não sao amigos mas ja existe um convite do visitante para o visitado
else if(ctrConn.friendRequested(userProf)){
<tr>
    <td>
        <div class="alert alert-warning"><span style="font-size:12px"><b>@EpicWareWeb.Views.User.User.amizade_pendente</b></span></div>
    </td>
</tr>
}
//caso 3: nao sao amigos mas o visitado ja enviou pedido ao visitante
else if (ctrConn.friendRequestReceived(userProf))
{
    <tr>
    <td>
        <button type="button" class="btn btn-sm btn-primary" style="width:200px;"><span style="font-size:14px">@EpicWareWeb.Views.User.User.aceitar_amigo</span></button><br /><br />
    </td>
</tr>
}
//caso 4 ja sao amigos
else if (ctrConn.isFriends(userProf))
{
    using (Html.BeginForm("IntrodutionRequest", "User", new { id = userProf.userID}, FormMethod.Get))
    {
    <tr>
        <td>
            <button type="submit" class="btn btn-sm btn-primary" style="width:200px;"><span style="font-size:14px">@EpicWareWeb.Views.User.User.pedir_intro</span></button>
        </td>
    </tr>
    }

}

else if (!ctrConn.isFriends(userProf))
{
 //caso 1: Não são amigos
<tr>
    <td>
    @using (Html.BeginForm("AddFriend", "User", new { id = userProf.userID },FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <button type="submit" class="btn btn-sm btn-primary" style="width:200px;"><span style="font-size:14px">@EpicWareWeb.Views.User.User.adicionar_amigo</span></button>
    }
    </td>
</tr>
}
<tr>
    <td>
    @using (Html.BeginForm("FriendsList", "User", new { id = userProf.userID },FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <button type="submit" class="btn btn-sm btn-primary" style="width:200px;"><span style="font-size:14px">@EpicWareWeb.Views.User.User.veramigos</span></button>
    }
    </td>
</tr>    
    @*<tr>
        <td style="text-align:center;">
            <div class="alert alert-success"><span style="font-size:12px"><b>Pedido de amizade enviado</b></span></div>
        </td>
    </tr>*@