
@if (true)
{
    //caso 1: Não são amigos
    <tr>
    <td style="text-align:center;">
        <button type="button" class="btn btn-sm btn-primary" style="width:200px;"><span style="font-size:14px">@EpicWareWeb.Views.User.User.adicionar_amigo</span></button>
    </td>
</tr>
}
//caso 2: não sao amigos mas ja existe um convite do visitante para o visitado
else if(true){
<tr>
    <td style="text-align:center;">
        <div class="alert alert-warning"><span style="font-size:12px"><b>@EpicWareWeb.Views.User.User.amizade_pendente</b></span></div>
    </td>
</tr>
}
//caso 3: nao sao amigos mas o visitado ja enviou pedido ao visitante
else if (true)
{
    <tr>
    <td style="text-align:center;">
        <button type="button" class="btn btn-sm btn-primary" style="width:200px;"><span style="font-size:14px">@EpicWareWeb.Views.User.User.aceitar_amigo</span></button><br /><br />
    </td>
</tr>
}
//caso 4 ja sao amigos
else if (true)
{
    <tr>
    <td style="text-align:center;">
        <button type="button" class="btn btn-sm btn-primary" style="width:200px;"><span style="font-size:14px">@EpicWareWeb.Views.User.User.pedir_intro</span></button>
    </td>
</tr>
}
//caso 5 aquele profile é do proprio user
else if(true){
    <tr>
    <td style="text-align:center;">
        <button type="button" class="btn btn-sm btn-primary" style="width:200px;"><span style="font-size:14px">@EpicWareWeb.Views.User.User.edit_perfil</span></button>
    </td>
</tr>
    //faltam aqui mais opçoes nao me lembro delas agora sorry
}



    
    
    @*<tr>
        <td style="text-align:center;">
            <div class="alert alert-success"><span style="font-size:12px"><b>Pedido de amizade enviado</b></span></div>
        </td>
    </tr>*@