@{
    EpicWareWeb.Models.User friend = (EpicWareWeb.Models.User)ViewBag.userFriendVB;
    EpicWareWeb.Models.User toIntro = (EpicWareWeb.Models.User)ViewBag.userConnectedVB;
}
<h2>@EpicWareWeb.Views.User.User.pedido1 @friend.userProfile.nickname @EpicWareWeb.Views.User.User.pedido2 @toIntro.userProfile.nickname</h2>

@using (Ajax.BeginForm("IntrodutionRequest", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "partials"} ))
{
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
    
     @Html.HiddenFor(model => friend.userID)
     @Html.HiddenFor(model => toIntro.userID)
    <table>
        <tr>
            <td>
                @Html.TextArea("txtIntro");
            </td>
            <td>
                <button type="submit" class="btn btn-info">@EpicWareWeb.Views.User.User.pedir_intro</button>
            </td>
        </tr>
    </table>
}