@model EpicWareWeb.Models.User
@{
    EpicWareWeb.Models.Connection conn = new EpicWareWeb.Models.Connection();
}

<h2>@EpicWareWeb.Views.User.User.forca_tag</h2>
<div>
@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.userID)
    <table>
        <tr>
            <td><span style="font-size:14px; color:white;"><b>@EpicWareWeb.Views.User.User.forca</b></span></td>
            <td>@Html.TextBoxFor(model => conn.strenght)</td>
        </tr>
        <tr>
            <td><span style="font-size:14px; color:white;"><b>@EpicWareWeb.Views.User.User.tagconn</b></span></td>
            <td>@Html.DropDownList("tagSelect", (SelectList)ViewBag.tagConnections)</td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit" class="btn btn-sucess">@EpicWareWeb.Views.User.User.adicionar_amigo</button></td>
        </tr>       
    </table>
}
       
    </div>
