@model EpicWareWeb.Models.User

@{
    ViewBag.Title = EpicWareWeb.Views.User.User.create;
    EpicWareWeb.Models.RegisterModel reg_mod = new EpicWareWeb.Models.RegisterModel();
    
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div>
            @Html.LabelFor(model => model.userProfile.nickname)
            @Html.TextBoxFor(model => reg_mod.UserName)

        </div>
        <div>
            @Html.LabelFor(model => reg_mod.Password)
            @Html.PasswordFor(model => reg_mod.Password)
        </div>
        <div>
            @Html.LabelFor(model => reg_mod.ConfirmPassword)
            @Html.PasswordFor(model => reg_mod.ConfirmPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.userProfile.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userProfile.name)
            @Html.ValidationMessageFor(model => model.userProfile.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.userProfile.lastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userProfile.lastName)
            @Html.ValidationMessageFor(model => model.userProfile.lastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        @* Lingua escolhida *@
        <div class="editor-label">
            @Html.LabelFor(model => model.language)
        </div>
        <div class="editor-field">
            @Html.DropDownList("langSelect", (SelectList)ViewBag.linguagens)
        </div>

        <p>
            @*<input type="submit" value="Create" />*@
            <button type="submit" class="btn btn-success" >@EpicWareWeb.Views.User.User.create</button>
        </p>
    </fieldset>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
/