@model EpicWareWeb.Models.User

@{
    ViewBag.Title = "Create";
    EpicWareWeb.Models.RegisterModel reg_mod = new EpicWareWeb.Models.RegisterModel();
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        <div>
            @Html.LabelFor(model => model.userProfile.nickname)
            @Html.TextBoxFor(model => reg_mod.UserName)

        </div>
        <div>
            @Html.LabelFor(model => reg_mod.Password)
            @Html.PasswordFor(model => reg_mod.Password)
        </div>
        <div>
            @Html.LabelFor(model => reg_mod.ConfirmPassword)
            @Html.PasswordFor(model => reg_mod.ConfirmPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.userProfile.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userProfile.name)
            @Html.ValidationMessageFor(model => model.userProfile.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.userProfile.lastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userProfile.lastName)
            @Html.ValidationMessageFor(model => model.userProfile.lastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.userProfile.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userProfile.email)
            @Html.ValidationMessageFor(model => model.userProfile.email)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
