@model EpicWareWeb.Models.User

@{
    ViewBag.Title = EpicWareWeb.Views.User.User.create_perfil;
 }

<h2>EpicWareWeb.Views.User.User.create_perfil</h2>

<script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker();
    });
</script>

<script type="text/javascript">

    $(function () {
        $('#MyDate').datepicker();
    });

</script>

<table>
    <tr>
        <td width="500">
            @using (Html.BeginForm("CreateProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                EpicWareWeb.Models.Profile profile = (EpicWareWeb.Models.Profile)ViewBag.profileSend;

                <fieldset>
                    @* Aniversário *@
                    <div class="editor-label">
                        @Html.LabelFor(model => model.userProfile.birthday)
                    </div>
                    <input type="text" id="datepicker" name="datepicker" required>
                    @*<input type="text" id="MyDate" name="MyDate" required />*@

                    @* Naturalidade *@
                    <div class="editor-label">
                        @Html.LabelFor(model => model.userProfile.country)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("naturalSelect", (SelectList)ViewBag.naturalidades)
                    </div>

                    @* Phone *@
                    <div class="editor-label">
                        @Html.LabelFor(model => model.userProfile.phoneNumber)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => profile.phoneNumber)
                        @Html.ValidationMessageFor(model => profile.phoneNumber)
                    </div>

                    @* Linkedin *@
                    <div class="editor-label">
                        @Html.LabelFor(model => model.userProfile.linkedinProfile)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => profile.linkedinProfile)
                        @Html.ValidationMessageFor(model => profile.linkedinProfile)
                    </div>

                    @* Facebook *@
                    <div class="editor-label">
                        @Html.LabelFor(model => model.userProfile.facebookProfile)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => profile.facebookProfile)
                        @Html.ValidationMessageFor(model => profile.facebookProfile)
                    </div>

                    @* Twitter *@
                    <div class="editor-label">
                        @Html.LabelFor(model => model.userProfile.twitterProfile)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => profile.twitterProfile)
                        @Html.ValidationMessageFor(model => profile.twitterProfile)
                    </div>

                    @* Gender *@
                    <div class="editor-field">
                        @Html.DropDownList("genderSelect", (SelectList)ViewBag.genders)
                    </div>

                    @* Image *@
                    <div class="editor-label">
                        <img src="@Model.userProfile.pathImg" alt="@EpicWareWeb.Views.User.User.semimagem" height="200" width="200" />
                    </div>
                    <div class="editor-field">
                        <input type="file" name="file" id="file" style="width: 100%;" />
                    </div>

                    <p>
                        <button type="submit" class="btn btn-success">@EpicWareWeb.Views.User.User.create</button>
                    </p>
                </fieldset>
            }
        </td>
        
            <td style="vertical-align:text-top">
                <fieldset>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.userTags)
                    </div>
                    @using (Ajax.BeginForm("insertTag", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tagsList" }))
                    {
                    <div class="editor-field">
                        @Html.TextBox("tags")
                    </div>
                    <div>
                        
                            <button type="submit" value="Adicionar">@EpicWareWeb.Views.User.User.adicionar</button>
                    </div>
                    }
                    <div id="tagsList">
                        @*@foreach (EpicWareWeb.Models.Tag tag in Model.userTags)
                {
                    <span style="color:white;font-size:larger">@tag.tag</span><br />
                }*@
                    </div>
                </fieldset>
            </td>
        
    </tr>
</table> 

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval") => Incluido na _NavBar
}*@
