<div class="editor-label">
    @Html.Label(@EpicWareWeb.Views.User.User.confirmDesativarConta)
    @Html.ActionLink(@EpicWareWeb.Views.User.User.sim, "DesactivateAccount")
    @Html.ActionLink(@EpicWareWeb.Views.User.User.nao, "Index")

    // COLOCAR EM BEGIN PARA NAO RETORNAR PARA O METODO GET
</div>