@model EpicWareWeb.Models.User

@{
    ViewBag.Title = "Reactivate";
}
<h2>@EpicWareWeb.Views.User.User.avisoContaDesativada</h2>
<table>
    <tr>
        <td>
            @using (Html.BeginForm("ReativateAccount", "User"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.userID)
                <button type="submit" class="btn btn-success">@EpicWareWeb.Views.User.User.reativarConta</button>
                @*<input type="submit" value="@EpicWareWeb.Views.User.User.reativarConta" />*@
            }
        </td>
        <td>
            @using (Html.BeginForm("Index", "Home"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @*<input type="submit" value="@EpicWareWeb.Views.User.User.nao" />*@
                <button type="submit" class="btn btn-danger">@EpicWareWeb.Views.User.User.nao</button>
            }
        </td>
    </tr>
</table>


