@model EpicWareWeb.Models.User

@{
    ViewBag.Title = @EpicWareWeb.Views.User.User.perfil;
}

<h1 style="color:white; font-size:24px; text-align:center;"><b>@Model.userProfile.name @Model.userProfile.lastName ( @Model.userProfile.nickname)</b></h1>
    @*<b>Ricardo Brandão (ScarePT)</b></h1>*@
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <table width="285">
                <tr>
                    <td>
                        <img src=@Model.userProfile.pathImg width="200" height="200" />
                    </td>
                </tr>
                @Html.Partial("_ProfileButtonsPartial")
            </table>
        </div>
        <div class="col-md-8">
            
            @Html.Partial("_ProfileInfoUserPartial")
            
            <br /><br />
            <table style="color:white; font-size:14px;">
                <tr>
                    <td width="500" align="left" style="padding-left:0px;">
                        <div class="alert alert-normal"><b>@EpicWareWeb.Views.User.User.tam_rede:</b> @ViewBag.networkSize</div>
                    </td>
                </tr>
            </table>
           
            <br />    
            

        </div>
    </div>
</div>

<br />
<img src="~/Images/Logos/tagcloud.png" width="80px" height="50px" />
@{
    var output = new System.Text.StringBuilder();
    output.Append(@"<div class="" tagcloud"">");
    using (var modelo = new EpicWareWeb.Models.UserEntities())
    {
        EpicWareWeb.Models.TagCloudCounter tagCloud = modelo.GetTagCloud(Model.userID);
        <table width="1000">
            <tr>
                <td>
                    <span style="font-size:14px; color:white;">@EpicWareWeb.Views.User.User.tagcloudGeral :</span>
                </td>
                <td>
                    @foreach (EpicWareWeb.Models.TagCloud tag in tagCloud.TagClouds)
                    {
                        output.AppendFormat(@"<span class=""tag{0}"">", tagCloud.GetRankForTag(tag));
                        output.Append(tag.Tag);
                        output.Append("</span>&nbsp;");
                    }
                </td>
            </tr>
        </table>
        
        
    }
    output.Append("</div>");
}
@Html.Raw(output.ToString())


@{
    var output2 = new System.Text.StringBuilder();
    output2.Append(@"<div class="" tagcloud"">");
    using (var modelo = new EpicWareWeb.Models.UserRelationsEntities())
    {
        EpicWareWeb.Models.TagCloudCounter tagCloud = modelo.GetTagCloud(Model.userID);
        <table width="1000">
            <tr>
                <td>
                    <span style="font-size:14px; color:white;">@EpicWareWeb.Views.User.User.tagcloudRelacao :</span>
                </td>
                <td>
                    @foreach (EpicWareWeb.Models.TagCloud tag in tagCloud.TagClouds)
                    {
                    output2.AppendFormat(@"<span class=""tag{0}"">", tagCloud.GetRankForTag(tag));
                        output2.Append(tag.Tag);
                        output2.Append("</span>&nbsp;");
                    }
                </td>
            </tr>
        </table>  
    }
    output2.Append("</div>");
}

@Html.Raw(output2.ToString())




