@model IEnumerable<EpicWareWeb.Controllers.ScoreTable>

@{ViewBag.Title = EpicWareWeb.Views.User.User.tabela_classificativa; int count = 1;
  
  
  }

<h2>@EpicWareWeb.Views.User.User.tabela_classificativa</h2>

<table>
    <tr>
        <td>
            <button type="submit" class="btn btn-default">@EpicWareWeb.Views.User.User.all_score</button>
        </td>
        <td>
            <button type="submit" class="btn btn-default" disabled>@EpicWareWeb.Views.User.User.tic_tac_toe</button>
        </td>
        <td>
            <button type="submit" class="btn btn-default" disabled>@EpicWareWeb.Views.User.User.labirinth</button>
        </td>
        <td>
            <button type="submit" class="btn btn-default" disabled>@EpicWareWeb.Views.User.User.maze</button>
        </td>
    </tr>
</table>

<div style="align-content:center;">
    <h1>
       @*@EpicWareWeb.Views.User.User.tic_tac_toe;*@
       @*@EpicWareWeb.Views.User.User.maze;*@
       @*@EpicWareWeb.Views.User.User.labirinth;*@
    </h1>
    <div class="TabelaClassificativa">
        <table>
            <tr>
                <td>
                    @EpicWareWeb.Views.User.User.position
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    @EpicWareWeb.Views.User.User.nickname
                </td>
                <td>
                    @EpicWareWeb.Views.User.User.pontos
                </td>
            </tr>
            @foreach (EpicWareWeb.Controllers.ScoreTable s in Model)
            {
                if (count > 10)
                {
                    break;
                }
                <tr>
                    <td width="20">
                        @*Posição*@
                        <span style="font-size:14px; color:black;"><b>
                            @count;
                        </b></span>
                    </td>
                    <td width="70">
                        @*Ir buscar a imagem do user*@
                        <a href="">
                            <img src="@s.user.userProfile.pathImg" width="50" height="50" />
                        </a>
                    </td>
                    <td>
                        @*Nickname*@
                        <a href="/LAPR5/User/Profile/@s.user.userID">
                            <span style="font-size:14px; color:black;"><b>
                                @s.user.userProfile.nickname
                            </b></span>
                        </a>
                    </td>
                    <td>
                        @*Pontuação*@
                        <span style="font-size:14px; color:black;"><b>
                            @s.pontuação
                        </b></span>
                    </td>
                </tr>
                count++;
            }
        </table>
    </div>
</div>