@model EpicWareWeb.Models.Profile

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Profile</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.birthday)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.birthday)
            @Html.ValidationMessageFor(model => model.birthday)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.country)
            @Html.ValidationMessageFor(model => model.country)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.phoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phoneNumber)
            @Html.ValidationMessageFor(model => model.phoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.linkdinProfile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.linkdinProfile)
            @Html.ValidationMessageFor(model => model.linkdinProfile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.facebookProfice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.facebookProfice)
            @Html.ValidationMessageFor(model => model.facebookProfice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.twitterProfile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.twitterProfile)
            @Html.ValidationMessageFor(model => model.twitterProfile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.gender)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gender)
            @Html.ValidationMessageFor(model => model.gender)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pathImg)
        </div>
        <div class="editor-field">
            <input type="file" name="file" id="file" style="width: 300px;" />
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
