@model EpicWareWeb.Models.Profile

@{
    ViewBag.Title = "Create";
}

<link type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Profile</legend>

        @* Aniversário *@
        <div class="editor-label">
            @Html.LabelFor(model => model.birthday)
        </div>
            <input type="text" id="MyDate" />

        @* Naturalidade *@
        <div class="editor-label">
            @Html.LabelFor(model => model.country)
        </div>
        <div class="editor-field">
            @Html.DropDownList("naturalSelect", (SelectList)ViewBag.naturalidades)
            @*@Html.EditorFor(model => model.country)*@
        </div>

        @* Numero de telefone *@
        <div class="editor-label">
            @Html.LabelFor(model => model.phoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phoneNumber)
            @Html.ValidationMessageFor(model => model.phoneNumber)
        </div>

        @* Linkedin Profile *@
        <div class="editor-label">
            @Html.LabelFor(model => model.linkedinProfile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.linkedinProfile)
            @Html.ValidationMessageFor(model => model.linkedinProfile)
        </div>

        @* Facebook profile *@
        <div class="editor-label">
            @Html.LabelFor(model => model.facebookProfile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.facebookProfile)
            @Html.ValidationMessageFor(model => model.facebookProfile)
        </div>

        @* Twitter profile *@
        <div class="editor-label">
            @Html.LabelFor(model => model.twitterProfile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.twitterProfile)
            @Html.ValidationMessageFor(model => model.twitterProfile)
        </div>

        @* Sexo *@
        <div class="editor-label">
            @Html.LabelFor(model => model.gender)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gender)
            @Html.ValidationMessageFor(model => model.gender)
        </div>

        @* Foto de perfil *@
        <div class="editor-label">
            @Html.LabelFor(model => model.pathImg)
        </div>
        <div class="editor-field">
            <input type="file" name="file" id="file" style="width: 300px;" />
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<script type="text/javascript">

    $(function () {
        $('#MyDate').datepicker();
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
